* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-family: nitti, 'open sans', sans-serif;
	-webkit-tap-highlight-color: transparent
}

body {
	max-width: 1440px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	position: relative!important
}

.page {
	background-color: #fff;
	padding: 80px;
	padding-top: 130px;
	padding-bottom: 50px;
	min-height: 100px;
	color: #222;
	font-family: nitti, 'open sans', sans-serif;
	font-size: 18px;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.page::before {
	width: 300px;
	text-align: left;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: #333;
	position: absolute;
	top: 50px;
	height: 50px;
	line-height: 50px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out
}

.section {
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, .1)
}

/*Navigation*/

.navigation {
	position: fixed;
	top: 50%;
	right: 0;
	margin-top: -80px;
	z-index: 100;
	width: 15px;
	height: 150px;
	margin-right: 20px
}

.nav-dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	background-color: #000;
	margin-left: 1px;
	cursor: pointer;
	-webkit-transition: all 0s;
	transition: all 0s;
	position: relative;
	-webkit-animation: .2s;
	animation: .2s;
	opacity: 0
}

.nav-dot-selected {
	background-color: #fff;
	background-color: transparent;
	height: 8px;
	width: 8px;
	border: 2px #000 solid;
	margin-left: 0
}

.nav-text {
	height: 12px;
	width: 100px;
	text-align: right;
	position: absolute;
	right: -5px;
	font-size: 12px;
	line-height: 12px;
	top: -11px;
	text-transform: uppercase;
	font-family: nitti, 'open sans', sans-serif;
	letter-spacing: 1px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0
}

.nav-dot:hover {
	box-shadow: 0 0 0 2px #000;
	background-color: #fff;
}

.nav-dot:hover .nav-text {
opacity: 1;
right: 0;
}

.nav-text:hover {
opacity: 1;
right: 0;
}


/*Intro page*/

.homePage {
	height: 100%;
	background-color: #fff;
	position: relative
}

.introduction {
	font-family: nitti, 'open sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-transform: uppercase;
	color: #222;
	width: 600px;
	z-index:100000;
}

.name {
	font-size: 64px;
	-webkit-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	text-shadow: rgba(0, 0, 0, 0.35) 5px 5px 25px;
}

.designation {
	font-size: 28px;
	-webkit-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	text-transform: none
}

.down-arrow {
	height: 50px;
	width: 40px;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -20px;
	background-image: url(../images/down.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1
}

/* Navigation */

.navlink {
	text-decoration: none;
	color: #000
}

/* Copyright */

.copyright {
	position: absolute;
	text-align: right;
	right: 100px;
	bottom: 0;
	float: right;
	margin-left: 50%;
	left: -150px;
	font-size: 15px;
	line-height: 12px;
	height: 20px;
	font-family: nitti, 'open sans', sans-serif;
	color: rgba(0, 0, 0, .5);
}

/* Particles */

#particle-js{
	height: 100%;
	display: initial;
}

.particles-js-canvas-el{
	width: 100%;
	height: 100%;
}

/* About Me section */

#aboutMe {
	background-color: #fff;
	padding: 50px;
	padding-top: 130px;
	padding-bottom: 50px;
	min-height: 100px;
	color: #222;
	font-family: nitti, 'open sans', sans-serif;
	font-size: 18px;
	border-top: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	position: relative;
}

#aboutMe::before {
	content: "About Me";
	position: absolute;
	width: 300px;
	text-align: left;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: #333;
	top: 50px;
	height: 50px;
	line-height: 50px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .1);
	-webkit-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.profile-social{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile {
    right: 0px;
    max-height: 200px;
    max-width: 200px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 11px 11px 48px 0 rgb(0 0 0 / 12%);
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}


.social-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 10px;
}

.social-icon {
	height: 42px;
	width: 42px;
	background-position: center;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 42px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: 0
}

.social-github:hover {
	background-color: #6e5494
}

.social-linkedin:hover {
	background-color: #0077b5
}

.about-text {
	flex-direction: column;
	float: left;
}

.text {
	width: 100%;
	margin-left: 60px;
	max-width: 80%;
	position: relative;
	color: #333;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-size: 16px;
	font-family: nitti, 'open sans', sans-serif;
	padding-bottom: 20px;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.bio-highlights {
    overflow: visible;
    margin-top: 64px;
    justify-items: stretch;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 0.85fr 0px 1fr 0px 1fr;
    grid-template-columns: 0.85fr 1fr 1fr;
    -ms-grid-rows: auto 0px auto;
    grid-template-rows: auto auto;
    border: 1px none #000;
    -o-object-fit: fill;
    object-fit: fill;
	margin-left: 60px;
}

#w-location {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
}

.bio-highlight-square-1 {
    height: 100%;
    padding-right: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #222;
    border-left: 1px none #222;
}

.bio-highlight-square-2 {
    height: 100%;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
}

.bio-highlight-square-3 {
    height: 100%;
    padding-bottom: 24px;
    padding-left: 24px;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
}

.bio-highlight-square-4 {
    padding-top: 24px;
    padding-right: 24px;
    border-bottom: 1px none #222;
    border-left: 1px none #222;
}

.bio-highlight-square-5 {
    height: 100%;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px none #222;
    border-left: 1px solid #222;
}

.bio-highlight-square-6 {
    height: 100%;
    padding-top: 24px;
    padding-left: 24px;
    border-bottom: 1px none #222;
    border-left: 1px solid #222;
}

.grid-titles {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 8px;
    -o-object-fit: fill;
    object-fit: fill;
}

.grid-paragraph {
    margin-bottom: 0px;
}

#w-interests {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
}


