@media screen and (max-width:1430px) {
	.all-work {
		width: 880px
	}
	.lede-parent {
		width: 880px
	}
	.lede-background {
		width: 770px;
		left: 110px
	}
	.lede-image {
		height: 424px;
		width: 648px
	}
	.lede-image-container {
		height: 424px;
		width: 648px
	}
	.bg-editable {
		width: 230px
	}
}

@media screen and (max-width:1365px) {
	.all-work {
		width: 880px
	}
	.lede-parent {
		width: 880px
	}
	.lede-background {
		width: 770px;
		left: 110px
	}
	.lede-image {
		height: 424px;
		width: 648px
	}
	.bg-editable {
		width: 230px
	}
	.static {
		float: none!important;
		position: relative!important;
		top: auto!important;
		left: auto!important;
		right: auto!important;
		width: auto!important;
		transform: none!important;
		padding: 20px;
		padding-bottom: 0;
		overflow-x: scroll;
		padding-left: 50px;
		border-left: solid 6px #000;
		margin-top: 50px
	}
	.all-work {
		float: none!important
	}
	.static-box {
		width: 230px;
		float: left;
		padding-right: 70px;
		margin-right: 50px;
		border-right: solid 1px #000
	}
	.static-box:nth-child(4) {
		border: 0;
		margin-right: 0;
		padding-right: 0
	}
	.extra-text {
		display: none
	}
	.static-box:after {
		width: 0
	}
	.static-inner {
		width: 1000px
	}
}


@media screen and (max-width:1180px) {
	.text {
		font-size: 14px
	}
	.page {
		padding: 72px;
		padding-top: 200px;
		padding-bottom: 150px
	}
	.navigation {
		display: none
	}
}

@media screen and (max-width:1023px) {
	.page {
		overflow: hidden
	}
	.copyright {
		text-align: center;
		width: 500px;
		margin-left: 50%;
		left: -250px
	}
	.all-work {
		width: 100%
	}
	.lede-parent {
		width: 100%;
		height: auto;
		padding-top: 66.67%
	}
	.lede-image-container {
		width: 100%;
		height: auto;
		padding-bottom: 66.67%;
		top: 0;
		position: absolute
	}
	.lede-image {
		width: 100%;
		height: 100%
	}
	.lede-background {
		width: 100%;
		height: 215px;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		position: relative
	}
	.bg-editable {
		bottom: 0;
		position: absolute;
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		height: 215px
	}
	.text-1-ed {
		padding-bottom: 0;
		padding-top: 20px
	}
	.text {
		font-size: 15px
	}
}

@media screen and (max-width: 991px){
	h6 {
		text-align: left;
	}

}


@media screen and (max-width:896px) {
	.text {
		width: 100%;
		margin-top: 0;
		height: auto;
		padding-bottom: 0
	}
	#aboutMe {
		height: auto
	}
}

@media screen and (max-width:826px) {
	.bg-editable {
		height: 250px
	}
	.lede-background {
		height: 250px
	}
}

@media screen and (max-width: 767px){
	.bio-highlights {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: auto auto auto auto;
		grid-template-rows: auto auto auto auto;
	}
	#w-studies {
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
	}
	.bio-highlight-square-3 {
		padding-top: 24px;
		padding-left: 0px;
		border-left-style: none;
	}
	#w-sports {
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
	}
	.bio-highlight-square-4 {
		padding-bottom: 24px;
		border-bottom-style: solid;
	}
	#w-interests {
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
	}
	.bio-highlight-square-5 {
		padding-right: 0px;
	}
	.bio-highlight-square-5 {
		padding-bottom: 24px;
		padding-left: 0px;
		border-bottom-style: solid;
		border-left-style: none;
	}
	#w-spirit {
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
	}
	.bio-highlight-square-6 {
		padding-left: 0px;
		border-left-style: none;
	}
	.profile {
		max-height: 144px;
		max-width: 144px;
	}
}


@media screen and (max-width:620px) {
	.nav-text {
		display: none
	}
	.name {
		font-size: 34px;
		width: 100%
	}
	.designation {
		font-size: 20px
	}
	.introduction {
		width: 100%
	}
	.page {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 75px;
		padding-top: 100px
	}
	.page::before {
		top: 50px
	}
	.bg-editable {
		height: 250px
	}
	.lede-background {
		height: 250px
	}
}

@media screen and (max-width:512px) {
	.navigation {
		display: none
	}
	.page {
		padding-left: 25px;
		padding-right: 25px
	}
	.bg-editable {
		height: 275px
	}
	.lede-background {
		height: 275px
	}
}

@media screen and (max-width: 479px) {
	.bio-highlights {
		padding-bottom: 0px;
		grid-template-areas:
			"Area-2 Area-2"
			"Area Area"
			"Area-3 Area-3";
	}
	#w-lcoation {
		-ms-grid-row: 1;
		grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-column-span: 1;
		grid-column-end: 2;
	}
	.bio-highlight-square-1 {
		padding-right: 0px;
	}
	.grid-titles {
		margin-bottom: 8px;
	}
	h6 {
		margin-top: 24px;
		margin-bottom: 16px;
		text-align: left;
	}
	.grid-paragraph {
		text-align: left;
		letter-spacing: -0.02em;
	}
	#w-experience {
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
		-ms-grid-column: span 1;
		grid-column-start: span 1;
		-ms-grid-column-span: 1;
		grid-column-end: span 1;
	}
	.bio-highlight-square-2 {
		padding-right: 0px;
	}
	#w-studies {
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
	}
	.bio-highlight-square-4 {
		padding-right: 0px;
	}
	#w-interests {
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
	}
	#w-spirit {
		-ms-grid-column: span 2;
		grid-column-start: span 2;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
		-ms-grid-row: span 1;
		grid-row-start: span 1;
		-ms-grid-row-span: 1;
		grid-row-end: span 1;
	}
	.bio-highlight-square-6 {
		padding-bottom: 24px;
	}
	.profile {
		width: 28vw;
		height: 28vw;
		border-radius: 50%;
		box-shadow: 11px 11px 48px 0 rgb(0 0 0 / 18%);
	}
}


@media screen and (max-width:384px) {
	.bg-editable {
		height: 275px
	}
	.lede-background {
		height: 275px
	}
	.homePage {
		height: 500px
	}
}

@media screen and (max-width:352px) {
	.bg-editable {
		height: 300px
	}
	.lede-background {
		height: 300px
	}
}
